<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/css/style.css">
  <title>{{ title }}</title>
</head>
<body>
  {{>header}}
  <div class="ui massive message inverted"></p>
      <div class="ui container">
        <h1 class="ui huge header inverted">{{title}}</h1>
      </div>
    </div>
    <div class="ui container">
      <div class="ui segment inverted">
        <h2 class="ui header">Erhalten Sie die Wettervorhersage für Ihren Standort</h2>
        <form>
          <div class="ui icon action input">
            <input type="text" placeholder="Standort..." />
            <button class="ui button"><i aria-hidden="true" class="search icon"></i></button>
          </div>
        </form>
      </div>
    </div>
    
    <div class="ui container" id="message">
      <div class="ui inverted segment">
        <h3 class="ui header" id="message-1"></h3>
        <p id="message-2"></p>
      </div>
    </div>
        
  {{>footer}}
  <script src="/js/app.js"></script>
</body>
</html>