<header>
    <div class="ui tablet computer only padded grid">
      <div class="ui top fixed borderless inverted huge menu">
        <div class="ui container">
          <a class="header item" href="/">Weather App</a>
          
          <a class="item" href="/about">About</a>
          <a class="item" href="/help">Help</a>
        
        </div>
      </div>
    </div>

<div class="ui mobile only grid">
      <div class="ui top fixed borderless huge menu inverted">
        <a class="header item" href="/">Weather App</a>
        <div class="right menu">
          <div class="item">
            <button class="ui icon toggle basic button inverted">
              <i class="content icon"></i>
            </button>
          </div>
        </div>
        <div class="ui vertical borderless fluid menu inverted">
          <a class="item" href="/">Home</a>
          <a class="item" href="/about">About</a>
          <a class="item" href="/help">Help</a>
          
            </div>
          </div>
        </div>
      </div>
    </div>


</header>